.place__link {
    color: #FFFFFF;    
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    transition: color .5s, border-bottom .5s;
    display: inline;
}

.place__link:hover {
    color: #AAAAAA;
}