.intro__title {
    margin: 0 auto 0 0;
    font-size: 54px;
    line-height: 58px;
    font-weight: bold;
}

@media (max-width: 767px) {
    .intro__title {
        max-width: 235px;
        font-size: 32px;
        line-height: 32px;
    }
}